<head>
    <meta charset="UTF-8">
    <title>Section administration de la ville de saint-gratien</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/k0jxl01at9eqc1o0rk1uiqk0a2zzpswmlbomw9q7oduy3n3j/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({selector:'textarea'});
    </script>
    <link rel="icon" href="../assets/img/favicon.ico" />
</head>